
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    @Html.Partial("/Views/Shared/Partials/DataTable/_Css.cshtml")
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="~/Content/Exam/Exam.css" rel="stylesheet" />
    <style>
    </style>
}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">
                <h2>Soru Giriş Ekranı</h2>
                <div class="clearfix"></div>
            </div>
            <form id="regForm" action="#" method="post">
                <p>Ders Seçiniz</p>
                <p> @Html.DropDownList("LessonID", new SelectList(ViewBag.lesson, "LessonID", "LessonText", 0), new { @class = "form-control" })</p>
                <p>Konu Seçiniz</p>
                <p> <select class=" form-control" id="Subject" name="states[]" multiple="multiple"></select></p>
                <p>Zorluk Derecesi Belirtiniz</p>
                <div id="radios" class="btn-group " data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="dif" id="dif1" value="1" selected /> 1
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="dif" id="dif2" value="2" /> 2
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="dif" id="dif3" value="3" /> 3
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="dif" id="dif4" value="4" /> 4
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="dif" id="dif5" value="5" /> 5
                    </label>
                </div><br />
                <button type="button" id="button" name="1" class="pull-right">Oluştur</button><br />

            </form>

    </div>
</div>
</div>

@section Scripts{
    @Html.Partial("/Views/Shared/Partials/DataTable/_Js.cshtml")
    <script src="~/Content/Exam/Exam.js"></script>

    <script>
        $(document).ready(function () {
            $('#Subject').select2();
            $('#LessonID').select2();

        });

        $('#Subject').on('select2:select', function (e) {
            var i = 0;
            $("#button").click(function () {
                var dif;
                $(document).ready(function () {
                    dif = $("input[name='dif']:checked").val();
                    $('input:radio[name=dif]').change(function () {
                        dif = $("input[name='dif']:checked").val();
                    });
                });
                var data = e.params.data.id;
                $.ajax({
                    url: '/Exam/GetQuestion',
                    type: "Post",
                    data: { SubjectID: data, Difficult: dif },
                    success: function (data) {
                        $.each(data, function () {
                            alert(data[i].QuestionID);
                            i++;
                        });

                        
                    }
                });
            });

        });

    </script>
}